
ul { margin: 0; padding: 0; } /* annule les marges par defaut */



.block-info1 {
	width: 150px;
  height: 150px;
  border: 5px solid #fff;
  webkit-border-radius: 50%;
  border-radius: 50%;
	box-shadow: 5px;
	text-align: center;
	vertical-align:middle;
  overflow: hidden;
	float: left;
	margin-top: auto;
}

.block-info2 {
  font-family:Rokkitt;
	text-align: justify;
	font-size: 20px;
	color: white;
	border 3px;
	float: left;
	margin-left: 210px;
	margin-top: auto;
}
.block-info3{
	font-family:Rokkitt;
	text-align: justify;
	font-size: 20px;
	color: white;
	float: right;
	margin-right: 350px;
	margin-top: auto;

}
a:hover { /* Quand on pointe sur un paragraphe */
	text-decoration: underline;
	color: orange;
}
a:visited { /* Quand le visiteur a déjà cliqué sur le lien */
	color: red;
}
strong {
	font-weight : bold;
}
em {
	font-size: italic;
}
.poste {
	text-decoration: underline;
}
.titre-rubrique {
	font-size: 30px;
	font-family:Josefin Sans;
	color: orange;
	//text-decoration:underline;
	border-bottom:3px solid orange;
	//margin: auto;
	margin-left: 50px;
	margin-right: 50px;
	padding-top: 50px;
}


header {
	margin: auto ;
	border: 2px solid grey;
	width: 100%;
	height : 200px;
	background: gray;

	//display: inline-block; /* transformer les éléments en inline-block */
	//vertical-align: top; /* positionne le inline-block */
	//margin: 70px;  /* marge exterieur */
}

.ensemble:nth-child(odd){
	background:gray;
}
.ensemble {
 vertical-align:top;
 //display:inline-block;
 margin: 8px 50px 50px 50px;
 //border: 2px solid grey;
}

.experience1 {
	width: 35%;
	display: inline-block;
	vertical-align:top;
	padding-left: 65px;
	//border: 1px solid grey;

}
.detail1 {
	width:45%;
	display: inline-block;
	padding-left: 65px;
	padding-top: 15px;
	//border: 1px solid grey;
}
.experience2 {
	width: 35%;
	display: inline-block;
	vertical-align:top;
	padding-left: 65px;
	//border: 1px solid grey;
}
.detail2 {
	vertical-align:top;
	width: 40%;
	display: inline-block;
	padding-left: 65px;
	padding-top: 15px;
	//border: 1px solid grey;
}
.experience3 {
width: 35%;
display: inline-block;
vertical-align:top;
padding-left: 65px;
//border: 1px solid grey;
	}
.detail3 {
vertical-align:top;
width: 45%;
display: inline-block;
padding-left: 65px;
padding-top: 15px;
//border: 1px solid grey;
	}

.experience4 {
width: 35%;
display: inline-block;
vertical-align:top;
padding-left: 65px;
//border: 1px solid grey;
}

.detail4 {
vertical-align:top;
width: 45%;
display: inline-block;
padding-left: 65px;
padding-top: 15px;
//border: 1px solid grey;
}

.experience5 {
width: 35%;
display: inline-block;
vertical-align:top;
padding-left: 65px;
//border: 1px solid grey;
}

.detail5 {
vertical-align:top;
width: 45%;
display: inline-block;
padding-left: 65px;
padding-top: 15px;
//border: 1px solid grey;
}

.formation {
 vertical-align:top;
 padding-left: 65px;
}

.langues {
 vertical-align:top;
 padding-left: 65px;
}

.hobby {
 vertical-align:top;
 padding-left: 65px;
}


.cadre {
font-size: medium;
font-family:Josefin Sans;
border: 3px solid grey;
margin: auto;
}
