
ul { margin: 0; padding: 0; } /* annule les marges par defaut */

.block-info1{
	font-family:serif;
	width: 350px;
	height:180px;
	//border: 1px solid black;
	//padding: 15; /* Marge intérieure */
	margin-top: 10;
	display: inline-block;
	vertical-align: top;
	text-align: justify;
}
.block-info2{
	font-family:serif;
	width: 250px;
	//height:30px;
	//border: 1px solid orange;
	padding-left: 20px;
	margin-left: 200px;
	display: inline-block;
	vertical-align: bottom;
	//margin: 10px;
	text-align: justify;
	font-size: 20px;
	color: white;
}
.block-info3{
	font-family:serif;
	width: 250px;
	//height: 30px;
	//border: 1px solid green;
	padding-left: 20px;
	//float: right;
	display: inline-block;
	vertical-align: bottom;
	margin-left: 50px;
	text-align: justify;
	font-size: 18px;
	color: white;
	margin: 15px;
}
a:hover { /* Quand on pointe sur un paragraphe */
	text-decoration: underline;
	color: orange;
}
a:visited { /* Quand le visiteur a déjà cliqué sur le lien */
	color: red;
}
strong {
	font-weight : bold;
}
em {
	font-size: italic;
}
.poste {
	text-decoration: underline;
}
.titre-rubrique {
	font-size: 30px;
	font-family:fantasy;
	color: orange;
	//text-decoration:underline;
	border-bottom:2px solid orange;
	//margin: auto;
	margin-left: 50px;
	margin-right: 50px;
	padding-top: 50px;
}
header {
	margin: auto ;
	border: 2px solid grey;
	width: 100%;
	background: gray;
	//display: inline-block; /* transformer les éléments en inline-block */
	//vertical-align: top; /* positionne le inline-block */
	//margin: 70px;  /* marge exterieur */
}

.ensemble {
 vertical-align:top;
 //display:inline-block;
 margin-left: 50px;
 margin-right: 50px;
 margin-top: 40px;
 border: 2px solid grey;
}
.experience1 {
	width: 35%;
	display: inline-block;
	vertical-align:top;
	margin-top: 20px;
	//margin: auto;	 /* marge exterieur*/
	margin-left: 50px;
	padding : 15px;
	border: 1px solid grey;
}
.detail1 {
	vertical-align:top;
	width: 40%;
	display: inline-block;
	margin-left:80px;
	margin-top: 20px;
	margin-bottom: 30px;
	padding : 15px;
	border: 1px solid grey;
}
.experience2 {
	width: 35%;
	display: inline-block;
	vertical-align:top;
	margin-top: 20px;
	//margin: auto;	 /* marge exterieur*/
	margin-left: 50px;
	padding : 10px;
	border: 1px solid grey;
}
.detail2 {
	vertical-align:top;
	width: 40%;
	display: inline-block;
	margin-left:80px;
	margin-top: 20px;
	margin-bottom: 30px;
	padding : 15px;
	border: 1px solid grey;
}
	.experience3 {
		width: 35%;
		display: inline-block;
		vertical-align:top;
		margin-top: 20px;
		//margin: auto;	 /* marge exterieur*/
		margin-left: 50px;
		padding : 15px;
		border: 1px solid grey;
		}

		.detail3 {
			vertical-align:top;
			width: 40%;
			display: inline-block;
			margin-left:80px;
			margin-top: 20px;
			margin-bottom: 30px;
			padding : 15px;
			border: 1px solid grey;
		}

		.experience4 {
			width: 35%;
			display: inline-block;
			vertical-align:top;
			margin-top: 20px;
			//margin: auto;	 /* marge exterieur*/
			margin-left: 50px;
			padding : 15px;
			border: 1px solid grey;
			}

			.detail4 {
				vertical-align:top;
				width: 45%;
				display: inline-block;
				margin-left:80px;
				margin-top: 20px;
				margin-bottom: 30px;
				padding : 15px;
				border: 1px solid grey;
			}

				.periode {
					vertical-align:top;
					width: 35%;
					display: inline-block;
					margin-left:50px;
					margin-top: 20px;
					margin-bottom: 30px;
					padding : 15px;
					border: 1px solid grey;
				}
				.formation {
					width: 35%;
					display: inline-block;
					vertical-align:top;
					margin-top: 20px;
					//margin: auto;	 /* marge exterieur*/
					margin-left: 50px;
					padding : 10px;
					border: 1px solid grey;
					}
				.detail12 {
					display: inline-block;
					vertical-align: top;
					margin-left: 70px;
					width: 900px;
					margin-top: 30px;
						}

						.langues {
						width: 35%;
						display: inline-block;
						vertical-align:top;
						margin-top: 20px;
						//margin: auto;	 /* marge exterieur*/
						margin-left: 50px;
						padding : 15px;
						border: 1px solid grey;
						}


					.hobby {
					width: 35%;
					display: inline-block;
					vertical-align:top;
					margin-top: 20px;
					//margin: auto;	 /* marge exterieur*/
					margin-left: 50px;
					padding : 15px;
					border: 1px solid grey;
					}
					.cadre {
					font-size: medium;
					font-family:inherit;
					border: 3px solid grey;
					margin: auto;
					}
